/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/BOLETIN/26284.jpg'); /* Fondo con imagen, reemplaza 'path_to_your_image.jpg' con la ruta correcta */
    background-size: cover; /* Para que la imagen cubra toda la pantalla */
    background-position: center center; /* Centra la imagen */
    background-attachment: fixed; /* La imagen permanece fija mientras se hace scroll */
}

/* Barra superior */
header {
    background-color: #7c1818;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 50px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Contenido principal */
.content {
    max-width: 1000px;
    margin: 40px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: #333;
}

h2 {
    color: #333;
    margin-top: 20px;
}

form {
    margin-bottom: 20px;
}

form input, form select {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
    background-color: #2e1b9c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #791212;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

button {
    background-color: #5e0b05;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #d32f2f;
}

/* Footer */
footer {
    background-color: #030130;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
